<style>
    .detailContainer {
        max-width: 500%;
        margin: 30px auto;
        padding: 20px;
        background:none;
        backdrop-filter: blur (50px);
        border-radius: 10px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }

    .detail{
        font-family: 'Garamond'; 
        padding: 0.5rem;
        font-size: 2rem;
        border-radius: 5px;
        border: 5px solid #ccc;
        color: black;
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
    }

        .popUp {
            max-width: 300%;
            position: absolute; 
            display: none; 
            top: 35%; left: 50%; 
            transform: translate(-50%, -50%); 
            z-index: 2;
            background:none;
            backdrop-filter: blur (50px);
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            color: black;
        }

    .titlePopUp{
            
            font-family: 'Garamond'; 
            padding: 0.5rem;
            font-size: 2.3rem;
            border-radius: 5px;
            margin-bottom: 20px;
        margin-bottom: 5px;
    }

    .yesOrNo {
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center; 
        margin-top: 10px; 
    }
    
.image {
    margin-top: 10px;
    text-align: center; 
}

</style>

<form class="detailContainer">
    <div class="detail">
        Club name:
        {{club_detail.dataValues.club_name}}
    </div>
    <div class="detail">
        Club adress:
        {{club_detail.dataValues.club_adress}}
    </div>
    <div class="detail">
        Club foundation year:
        {{club_detail.dataValues.club_foundation_year}}
    </div>
    <div class="image">
        <img src="{{imagePath}}" alt="{{club_detail.dataValues.club_name}} Emblem">
    </div>
</form>
<div class="button-container">
    <button>
        <a href="/clubs?action=edit" data-cy='edit-club'>
            ✏️
        </a>
    </button>
     <button id="deleteButton">
        <a href="#" data-cy='delete-club'>
            🗑️
        </a>
    </button>
</div>

<div id="deletePopup" class="popUp">
   <p class="titlePopUp">Are you sure you want to delete this club?</p>
    <div class="yesOrNo">
        <button id="confirmDelete">Yes</button>
        <button id="cancelDelete">No</button>
    </div>
</div>

<script>
    document.getElementById('deleteButton').addEventListener('click', function () {
        document.getElementById('deletePopup').style.display = 'flex';
    });

    document.getElementById('cancelDelete').addEventListener('click', function () {
        document.getElementById('deletePopup').style.display = 'none';
    });

    document.getElementById('confirmDelete').addEventListener('click', function () {
        window.location.href = "/clubs?action=delete";

        // Después de borrar el club redirigir a la pagina de inicio
        // window.location.href = "/clubs";
    });
</script>